@using Ewu.WebUI.Models.ViewModel
@model AccountInfoViewModel

@{
    ViewBag.Title = "AccountInfo";
    Layout = "~/Views/Shared/_DealLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li>
                                <a href="#">用户</a>
                            </li>
                            <li class="active">
                                <a href="#">个人信息</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">The Transaction I Initiated</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="author-profile-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <aside class="sidebar sidebar_author">  
                    <!--用户个人信息-->
                    <div class="author-card sidebar-card">
                        <div class="author-infos">
                            <div class="author_avatar">
                                <img width="100" height="100" src=@Model.TargetUser.HeadPortrait alt="Presenting the broken author avatar :D">
                            </div>

                            <div class="author">
                                <h4>@Model.TargetUser.UserName</h4>
                                <p>@Model.TargetUser.Signature</p>
                            </div>

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <span class="fa fa-qq text-info">@(Model.TargetUser.OICQ ?? "暂无")</span>
                                    </li>
                                    <li>
                                        <span class="fa fa-wechat text-success">@(Model.TargetUser.WeChat ?? "暂无")</span>
                                    </li>
                                    <li>
                                        <span class="fa fa-envelope text-warning">@(Model.TargetUser.Email)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--用户其他信息-->
                    <div class="sidebar-card freelance-status">
                        <div class="custom-radio">
                            <span title="年龄" class="fa fa-birthday-cake">&nbsp;@(Convert.ToInt32(DateTime.Now.ToString("yyyy")) - Convert.ToInt32(Model.TargetUser.BirthDay.ToString("yyyy")))</span>
                        </div>
                        <div class="custom-radio">
                            <span title="注册时间" class="fa fa-user-plus">&nbsp;@Model.TargetUser.RegisterTime.ToString("yyyy-MM-dd")</span>
                        </div>
                        <div class="custom-radio">
                            <span title="职业" class="fa fa-briefcase">&nbsp;@(Model.TargetUser.Job ?? "暂无")</span>
                        </div>
                    </div>

                    <!--留言-->
                    <div class="sidebar-card message-card">
                        <div class="card-title">
                            <h4>留言</h4>
                        </div>

                        <div class="message-form">
                            <form action="#">
                                <div class="form-group">
                                    <textarea name="message" class="text_field" id="author-message" placeholder="说点什么吧..."></textarea>
                                </div>

                                <div class="msg_submit">
                                    <button type="submit" class="btn btn--md btn--round btn--icon btn--fullwidth">
                                        <span class="fa fa-paper-plane"></span>发送
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>
            </div>

            <div class="col-lg-8">
                <!--信息总览-->
                <div class="row">
                    <!--总浏览量-->
                    <div class="col-md-4 col-sm-4">
                        <div class="author-info mcolorbg4 counter">
                            <p><i class="fa fa-eye" style="font-size:large" aria-hidden="true"></i>总浏览量</p>
                            <h3 class="count">@Model.TotalBrowseNum.ToString("###,###")</h3>
                        </div>
                    </div>

                    <!--总收藏量-->
                    <div class="col-md-4 col-sm-4">
                        <div class="author-info pcolorbg counter">
                            <p><i class="fa fa-heart" style="font-size:large" aria-hidden="true"></i>总收藏量</p>
                            <h3 class="count">@Model.TotalFavorite.ToString("###,###")</h3>
                        </div>
                    </div>

                    <!--总物品-->
                    <div class="col-md-4 col-sm-4">
                        <div class="author-info scolorbg counter">
                            <p><i class="fa fa-cubes" style="font-size:large" aria-hidden="true"></i>已发布的物品数</p>
                            <h3 class="count">@Model.TotalTreasureNum.ToString("###,###")</h3>
                        </div>
                    </div>
                </div>

                <!--详细信息-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="item-info">
                            <div class="item-navigation">
                                <!--目录-->
                                <ul class="nav nav-tabs">
                                    <li class="col-4 text-center">
                                        <a href="#products" class="active" aria-controls="products" role="tab" data-toggle="tab" aria-selected="true">
                                            Ta的物品
                                        </a>
                                    </li>
                                    <li class="col-4 text-center">
                                        <a href="#Favorite" aria-controls="FavoriteFavorite" role="tab" data-toggle="tab" class="" aria-selected="false">
                                            Ta的收藏
                                        </a>
                                    </li>
                                    <li class="col-4 text-center">
                                        <a href="#product-review" aria-controls="product-review" role="tab" data-toggle="tab" class="" aria-selected="false">
                                            最近的评价
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div class="fade tab-pane product-tab active show" id="products">
                                    <div class="row">
                                        @foreach (var trea in Model.TargetTreasures)
                                        {
                                            <div class="col-lg-4 col-md-4">
                                                <div class="product product--card">

                                                    <div class="product__thumbnail">
                                                        <img src=@trea.Treasure.Cover alt="Product Image">
                                                        <div class="prod_btn">
                                                            <a href=@trea.Treasure.Link class="transparent btn--sm btn--round">查看详情</a>
                                                        </div>
                                                    </div>

                                                    <div class="product-desc">
                                                        <a href=@trea.Treasure.Link class="product_title">
                                                            <h4>@trea.Treasure.TreasureName</h4>
                                                        </a>
                                                        <ul class="titlebtm">
                                                            <li class="product_cat">
                                                                <a href="#" >
                                                                    <img src="~/images/cathtm.png" alt="category image">@trea.Treasure.TreasureType
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <p>@trea.Treasure.DetailContent</p>
                                                    </div>
                                                    <div class="product-purchase">
                                                        <div class="price_love">
                                                            <span>@trea.Treasure.UploadTime.ToString("yyyy-MM-dd")</span>
                                                        </div>
                                                        <div class="sell">
                                                            <p>
                                                                <span class="fa fa-heart">@trea.Treasure.Favorite</span>
                                                            </p>
                                                            <p>
                                                                <span class="fa fa-eye">@trea.Treasure.BrowseNum</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <a href="#">
                                        <span class="text-black-50 pull-right">更多</span>
                                    </a>
                                </div>

                                <div class="fade tab-pane product-tab" id="Favorite">
                                    <div class="row">
                                        @foreach (var trea in Model.TargetFavorite)
                                        {
                                            <div class="col-lg-4 col-md-4">
                                                <div class="product product--card">
                                                    <div class="product__thumbnail">
                                                        <img src=@trea.Treasure.Cover alt="Product Image">
                                                        <div class="prod_btn">
                                                            <a href=@trea.Treasure.Link class="transparent btn--sm btn--round">物品详情</a>
                                                        </div>
                                                    </div>

                                                    <div class="product-desc">
                                                        <a href=@trea.Treasure.Link class="product_title">
                                                            <h4>@trea.Treasure.TreasureName</h4>
                                                        </a>
                                                        <ul class="titlebtm">
                                                            <li>
                                                                <a href=@("/Account/AccountInfo?UserID=" + trea.TreasureHolder.UserID)>
                                                                    <span>
                                                                        <img class="auth-img" src=@trea.TreasureHolder.HeadImg alt="author image" />
                                                                        @trea.TreasureHolder.UserName
                                                                    </span>
                                                                </a>

                                                            </li>
                                                            <li class="product_cat">
                                                                <a href="#">
                                                                    <img src="~/images/cathtm.png" alt="category image">@trea.Treasure.TreasureType
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <p>
                                                            @trea.Treasure.DetailContent
                                                        </p>
                                                    </div>

                                                    <div class="product-purchase">
                                                        <div class="price_love">
                                                            <span>@trea.Treasure.UploadTime.ToString("yyyy-MM-dd")</span>
                                                        </div>

                                                        <div class="sell">
                                                            <p>
                                                                <span class="fa fa-heart">@trea.Treasure.Favorite</span>
                                                            </p>
                                                            <p>
                                                                <span class="fa fa-eye">@trea.Treasure.BrowseNum</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="fade tab-pane product-tab" id="product-review">
                                    <div class="thread thread_review">
                                        <ul class="media-list thread-list">
                                            @foreach (var evaluation in Model.Evaluations)
                                            {
                                                <li class="single-thread">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href=@("/Account/AccountInfo?UserID=" + evaluation.Holder.UserID)>
                                                                <img width="70" height="70" class="media-object" src=@evaluation.Holder.HeadImg alt="Commentator Avatar">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="clearfix">
                                                                <div class="pull-left">
                                                                    <div class="media-heading">
                                                                        <a href="author.html">
                                                                            <h4>@evaluation.Holder.UserName</h4>
                                                                        </a>
                                                                        <span>@evaluation.Time</span>
                                                                    </div>
                                                                    @if (evaluation.IsReaommend == true)
                                                                    {
                                                                        <span class="review_tag fa fa-thumbs-up text-success">&nbsp;推荐</span>
                                                                    }
                                                                    else if (evaluation.IsReaommend == false)
                                                                    {
                                                                        <span class="review_tag fa fa-thumbs-down text-danger">&nbsp;不推荐</span>
                                                                    }
                                                                </div>
                                                            </div>
                                                            <p>
                                                                @evaluation.EvaluationInfo
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

