@using Ewu.WebUI.Models.ViewModel
@model IEnumerable<CompleteDeal>

@{
    ViewBag.Title = "CompleteDealLog";
    Layout = "~/Views/Shared/_DealLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/Treasure/Index">首页</a>
                            </li>
                            <li>
                                <a href="/Account/AccountInfo">个人</a>
                            </li>
                            <li>
                                <a href="/Account/AllDealLog">交易记录</a>
                            </li>
                            <li class="active">
                                <a href="#">结束的交易</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">结束的交易</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="dashboard-area dashboard_purchase">
    <div class="dashboard_menu_area">
        <div class="container">
            @Html.Partial("PartialLayout/Menu", "成功的交易")
        </div>
    </div>

    <div class="dashboard_contents">
        <div class="container">
            <div class="product_archive">
                @foreach (var logs in Model)
                {
                    <div class="row">
                        <!--具体内容-->
                        <div class="col-md-12">
                            <div class="single_product clearfix">
                                <div class="row">
                                    <!--发起人物品-->
                                    <div class="col-lg-5 col-md-5">
                                        <!--物品信息-->
                                        <div class="product__description">
                                            <a href=@logs.TreasureS.Link>
                                                <img width="150" src=@logs.TreasureS.Cover alt="Purchase image">
                                            </a>
                                            <div class="short_desc">
                                                <a href=@logs.TreasureS.Link>
                                                    <h4 class="text-info">
                                                        <span class="fa fa-hand-o-right"></span>
                                                        @logs.TreasureS.TreasureName
                                                    </h4>
                                                </a>
                                                <br />
                                                <div class="author-card">
                                                    <div class="inline">
                                                        <!--头像-->
                                                        <div class="author__avatar">
                                                            <img height="60" width="60" src=@logs.UserS.HeadImg alt="user avatar">
                                                        </div>

                                                        <!--昵称-->
                                                        <div class="autor__info">
                                                            <h2 class="text-danger">
                                                                @logs.UserS.RealName
                                                            </h2>
                                                            <p>
                                                                @if (logs.Evaluation.IsRecommendSToR == true)
                                                                {
                                                                    <span class="fa fa-thumbs-up text-success">&nbsp;推荐</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="fa fa-thumbs-down text-danger">&nbsp;不推荐</span>
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p title=@logs.Evaluation.EvaluationSToR>
                                                    <span class="fa fa-quote-left"></span>
                                                    @if (logs.Evaluation.EvaluationSToR.Count() > 43)
                                                    {
                                                        @logs.Evaluation.EvaluationSToR.Substring(0, 41)<text>&middot;&middot;&middot;&middot;&middot;&middot;</text>
                                                    }
                                                    else
                                                    {
                                                        @logs.Evaluation.EvaluationSToR
                                                    }
                                                    <span class="fa fa-quote-right"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--接受人的物品-->
                                    <div class="col-lg-5 col-md-5">
                                        <!--物品信息-->
                                        <div class="product__description">
                                            <a href=@logs.TreasureR.Link>
                                                <img width="150" src=@logs.TreasureR.Cover alt="Purchase image">
                                            </a>
                                            <div class="short_desc">
                                                <a href=@logs.TreasureR.Link>
                                                    <h4 class="text-info">
                                                        <span class="fa fa-hand-o-right"></span>
                                                        @logs.TreasureR.TreasureName
                                                    </h4>
                                                </a>
                                                <br />
                                                <div class="author-card">
                                                    <div class="inline">
                                                        <!--头像-->
                                                        <div class="author__avatar">
                                                            <img height="60" width="60" src=@logs.UserR.HeadImg alt="user avatar">
                                                        </div>

                                                        <!--昵称-->
                                                        <div class="autor__info">
                                                            <h2 class="text-danger">
                                                                @logs.UserR.RealName
                                                            </h2>
                                                            <p>
                                                                @if (logs.Evaluation.IsRecommendRToS == true)
                                                                {
                                                                    <span class="fa fa-thumbs-up text-success">&nbsp;推荐</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="fa fa-thumbs-down text-danger">&nbsp;不推荐</span>
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p title=@logs.Evaluation.EvaluationRToS>
                                                    <span class="fa fa-quote-left"></span>
                                                    @if (logs.Evaluation.EvaluationRToS.Count() > 43)
                                                    {
                                                        @logs.Evaluation.EvaluationRToS.Substring(0, 41)<text>&middot;&middot;&middot;&middot;&middot;&middot;</text>
                                                    }
                                                    else
                                                    {
                                                        @logs.Evaluation.EvaluationRToS
                                                    }
                                                    <span class="fa fa-quote-right"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--操作-->
                                    <div class="col-lg-2 col-md-2 col-2 btn-group-vertical">
                                        <div class="product__price_download">
                                            <div class="item_action v_middle">
                                                <div class="row">
                                                    <button class="btn btn-sm btn-success" onclick="@("window.location.href='/Deal/DealAllInfo?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                        <span class="fa fa-history"></span> 查看详情
                                                    </button>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <button class="btn btn-sm btn-danger" onclick="@("window.location.href='/Deal/DealFeedback?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                        <span class="fa fa-question-circle"></span> 我有疑问
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>