@using Ewu.WebUI.Models.ViewModel
@model IEnumerable<DealingLog>
@{
    ViewBag.Title = "DealingLog";
    Layout = "~/Views/Shared/_DealLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li>
                                <a href="#">个人</a>
                            </li>
                            <li>
                                <a href="#">交易记录</a>
                            </li>
                            <li class="active">
                                <a href="#">正在进行的交易</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">The Transaction I Initiated</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="dashboard-area dashboard_purchase">
    <div class="dashboard_menu_area">
        <div class="container">
            @Html.Partial("PartialLayout/Menu","进行中的交易")
        </div>
    </div>

    <div class="dashboard_contents">
        <div class="container">
            <div class="product_archive">
                @foreach (var logs in Model)
                {
                    <div class="row">
                        <!--具体内容-->
                        <div class="col-md-12">
                            <div class="single_product clearfix">
                                <div class="row">
                                    <!--我的物品-当前登录人-->
                                    <div class="col-lg-5 col-md-5">
                                        <!--物品信息-->
                                        <div class="product__description">
                                            <a href=@logs.MyTreasure.Link>
                                                <img width="150" src=@logs.MyTreasure.Cover alt="Purchase image">
                                            </a>
                                            <div class="short_desc">
                                                <a href=@logs.MyTreasure.Link>
                                                    <h4 class="text-info">
                                                        <span class="fa fa-hand-o-right"></span>
                                                        @logs.MyTreasure.TreasureName
                                                    </h4>
                                                </a>
                                                <p>
                                                    <span class="fa fa-quote-left"></span>
                                                    @logs.MyTreasure.DetailContent
                                                    <span class="fa fa-quote-right"></span>
                                                </p>
                                                <div class="author-card">
                                                    <div class="inline">
                                                        <!--头像-->
                                                        <div class="author__avatar">
                                                            <img height="70" width="70" src=@logs.My.HeadPortrait alt="user avatar">
                                                        </div>

                                                        <!--昵称-->
                                                        <div class="autor__info">
                                                            <h2>
                                                                @logs.My.RealName
                                                            </h2>
                                                            <p>
                                                                <span class="fa fa-birthday-cake"></span>
                                                                @logs.My.BirthDay.ToString("yyyy-MM-dd")
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--TA的物品-->
                                    <div class="col-lg-5 col-md-5">
                                        <!--物品信息-->
                                        <div class="product__description">
                                            <a href=@logs.TaTreasure.Link>
                                                <img width="150" src=@logs.TaTreasure.Cover alt="Purchase image">
                                            </a>
                                            <div class="short_desc">
                                                <a href=@logs.TaTreasure.Link>
                                                    <h4 class="text-info">
                                                        <span class="fa fa-hand-o-right"></span>
                                                        @logs.TaTreasure.TreasureName
                                                    </h4>
                                                </a>
                                                <p>
                                                    <span class="fa fa-quote-left"></span>
                                                    @logs.TaTreasure.DetailContent
                                                    <span class="fa fa-quote-right"></span>
                                                </p>
                                                <div class="author-card">
                                                    <div class="inline">
                                                        <!--头像-->
                                                        <div class="author__avatar">
                                                            <img height="70" width="70" src=@logs.Ta.HeadPortrait alt="user avatar">
                                                        </div>

                                                        <!--昵称-->
                                                        <div class="autor__info">
                                                            <h2>
                                                                @logs.Ta.RealName
                                                            </h2>
                                                            <p>
                                                                <span class="fa fa-birthday-cake"></span>
                                                                @logs.Ta.BirthDay.ToString("yyyy-MM-dd")
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--操作-->
                                    <div class="col-lg-2 col-md-2 col-2 btn-group-vertical">
                                        <div class="product__price_download">
                                            <div class="item_action v_middle">
                                                <!--当前登录人是本次订单的接收人-->
                                                @if (logs.CurrentUserRole == "Recipient")
                                                {
                                                    <!--该行显示对方是否发货-->
                                                    <div class="row">
                                                        <!--收获信息没有填写-->
                                                        @if (logs.LogDeal.DeliveryAddressRecipientID == null)
                                                        {
                                                            <button class="btn btn-default btn-warning" onclick="@("window.location.href='/Deal/ChooseDeliveryAddress?DLogUID="+logs.LogDeal.DLogUID+"&CurrentRole=Recipient'")">
                                                                <span class="fa fa-street-view" style="font-size:large"></span> 填写我的收货地址
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <!--收货信息已填写，判断对方是否已经填写快递订单号,此时对方是发起人-->
                                                            <!--对方-发起人没有填写订单号-即没有发货-->
                                                            if (logs.Tracking.SponsorTrackingNum == null)
                                                            {
                                                                <button class="btn btn-default btn-dark" disabled="disabled">
                                                                    <span class="fa fa-street-view" style="font-size:large"></span> 暂无对方物流单号
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-default btn-info" onclick="@("window.location.href='/Deal/AgreeDeal?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                                    <span class="fa fa-street-view" style="font-size:large"></span> 查看对方物流信息
                                                                </button>
                                                            }
                                                        }
                                                    </div>
                                                    <br />
                                                    <!--该行显示自己是否发货-->
                                                    <div class="row">
                                                        <!--对方--发起人收货信息没有填写-->
                                                        @if (logs.LogDeal.DeliveryAddressSponsorID == null)
                                                        {
                                                            <button class="btn btn-default btn-dark" disabled="disabled">
                                                                <span class="fa fa-truck" style="font-size:large"></span> 暂无对方收货地址
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <!--收货信息已填写，判断自己是否已经填写快递订单号,此时自己是接收人-->
                                                            <!--自己-接收人没有填写订单号-即没有发货-->
                                                            if (logs.Tracking.RecipientTrackingNum == null)
                                                            {
                                                                <button class="btn btn-default btn-danger" onclick="@("window.location.href='/Deal/AgreeDeal?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                                    <span class="fa fa-street-view" style="font-size:large"></span> 填写我的物流单号
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-default btn-info" onclick="@("window.location.href='/Deal/DisagreeDeal?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                                    <span class="fa fa-truck" style="font-size:large"></span> 查看我的物流信息
                                                                </button>
                                                            }
                                                        }
                                                    </div>
                                                }
                                                else if (logs.CurrentUserRole == "Sponsor")
                                                {
                                                    <!--当前登录人是本次订单的发起人-->
                                                    <!--该行显示对方是否发货-->
                                                    <div class="row">
                                                        <!--收获信息没有填写-->
                                                        @if (logs.LogDeal.DeliveryAddressSponsorID == null)
                                                        {
                                                            <button class="btn btn-default btn-warning" onclick="@("window.location.href='/Deal/ChooseDeliveryAddress?DLogUID="+logs.LogDeal.DLogUID+"&CurrentRole=Sponsor'")">
                                                                <span class="fa fa-street-view" style="font-size:large"></span> 填写我的收货地址
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <!--收货信息已填写，判断对方是否已经填写快递订单号,此时对方是接收人-->
                                                            <!--对方-接收人没有填写订单号-即没有发货-->
                                                            if (logs.Tracking.RecipientTrackingNum == null)
                                                            {
                                                                <button class="btn btn-default btn-dark" disabled="disabled">
                                                                    <span class="fa fa-street-view" style="font-size:large"></span> 暂无对方物流单号
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-default btn-info" onclick="@("window.location.href='/Deal/AgreeDeal?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                                    <span class="fa fa-street-view" style="font-size:large"></span> 查看对方物流信息
                                                                </button>
                                                            }
                                                        }
                                                    </div>
                                                    <br />
                                                    <!--该行显示自己是否发货-->
                                                    <div class="row">
                                                        <!--对方--接收人收货信息没有填写-->
                                                        @if (logs.LogDeal.DeliveryAddressRecipientID == null)
                                                        {
                                                            <button class="btn btn-default btn-dark" disabled="disabled">
                                                                <span class="fa fa-truck" style="font-size:large"></span> 暂无对方收货地址
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <!--收货信息已填写，判断自己是否已经填写快递订单号,此时自己是发起人-->
                                                            <!--自己-发起人没有填写订单号-即没有发货-->
                                                            if (logs.Tracking.SponsorTrackingNum == null)
                                                            {
                                                                <button class="btn btn-default btn-danger" onclick="@("window.location.href='/Deal/AgreeDeal?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                                    <span class="fa fa-street-view" style="font-size:large"></span> 填写我的物流单号
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button class="btn btn-default btn-info" onclick="@("window.location.href='/Deal/DisagreeDeal?DLogUID="+logs.LogDeal.DLogUID+"'")">
                                                                    <span class="fa fa-truck" style="font-size:large"></span> 查看我的物流信息
                                                                </button>
                                                            }
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

