@using Ewu.WebUI.Models.ViewModel
@model UserHeadInfo

<div class="col-lg-8 offset-lg-1 col-md-9 col-6 v_middle">
    <!--用户区域-->
    <div class="author-area">
        <!--注册页面-->
        <a href="/Register/Create" class="author-area__seller-btn inline">加入我们</a>

        <!---提示-->
        <div class="author__notification_area">
            <ul>
                <li class="has_dropdown">
                    <div class="icon_wrap">
                        <!--通知图标-->
                        <span class="lnr lnr-alarm"></span>
                        <!--未读通知数-->
                        <span class="notification_count noti">@Model.noticeTongZhis.Where(n => n.isRead == false).Count()</span>
                    </div>

                    <div class="dropdowns notification--dropdown">
                        <!--表头-->
                        <div class="dropdown_module_header">
                            <h4>通知</h4>
                            <!--所有通知-->
                            <a href="notification.html">查看所有</a>
                        </div>

                        <!--具体通知缩略信息-->
                        <div class="notifications_module">
                            <!--通知-->
                            @foreach (var logT in Model.noticeTongZhis)
                            {
                                <!--通知一-->
                                if (logT.Action == "咨询")
                                {
                                    <a href=@("/Account/Message?NoticeUID="+logT.Id)>
                                        <div class="notification">
                                            <div class="notification__info">
                                                <!--用户头像-->
                                                <div class="info_avatar">
                                                    <img src=@logT.BasicUserInfo.HeadImg alt="">
                                                </div>
                                                <!--缩略信息-->
                                                <div class="info">
                                                    <p>
                                                        <span>@logT.BasicUserInfo.UserName</span> @logT.Action
                                                        <!--物品详情信息-->
                                                        <a href=@logT.Treasure.Link>@logT.Treasure.TreasureName</a>
                                                    </p>
                                                    <!--时间-->
                                                    <p class="time">@logT.Time</p>
                                                </div>
                                            </div>
                                            <!--通知类型样式图标-->
                                            <div class="notification__icons ">
                                                @if (logT.Action == "咨询")
                                                {
                                                    <span class="fa fa-question loved noti_icon"></span>
                                                }
                                                else if (logT.Action == "收藏")
                                                {
                                                    <span class="fa fa-heart loved noti_icon"></span>
                                                }
                                                else if (logT.Action == "发起交易")
                                                {
                                                    <span class="fa fa-handshake-o loved noti_icon"></span>
                                                }
                                                else if (logT.Action == "评价")
                                                {
                                                    <span class="fa fa-pencil loved noti_icon"></span>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <a href="#">
                                        <div class="notification">
                                            <div class="notification__info">
                                                <!--用户头像-->
                                                <div class="info_avatar">
                                                    <img src=@logT.BasicUserInfo.HeadImg alt="">
                                                </div>
                                                <!--缩略信息-->
                                                <div class="info">
                                                    <p>
                                                        <span>@logT.BasicUserInfo.UserName</span> @logT.Action
                                                        <!--物品详情信息-->
                                                        <a href=@logT.Treasure.Link>@logT.Treasure.TreasureName</a>
                                                    </p>
                                                    <!--时间-->
                                                    <p class="time">@logT.Time</p>
                                                </div>
                                            </div>
                                            <!--通知类型样式图标-->
                                            <div class="notification__icons ">
                                                @if (logT.Action == "咨询")
                                                {
                                                    <span class="fa fa-question loved noti_icon"></span>
                                                }
                                                else if (logT.Action == "收藏")
                                                {
                                                    <span class="fa fa-heart loved noti_icon"></span>
                                                }
                                                else if (logT.Action == "发起交易")
                                                {
                                                    <span class="fa fa-handshake-o loved noti_icon"></span>
                                                }
                                                else if (logT.Action == "评价")
                                                {
                                                    <span class="fa fa-pencil loved noti_icon"></span>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </li>

                <!--消息-->
                <li class="has_dropdown">
                    <div class="icon_wrap">
                        <!--消息图标-->
                        <span class="lnr lnr-envelope"></span>
                        <!--消息数-->
                        <span class="notification_count msg">@Model.noticeLiuYans.Where(n => n.isRead == false).Count()</span>
                    </div>

                    <!--表头-->
                    <div class="dropdowns messaging--dropdown">
                        <div class="dropdown_module_header">
                            <h4>留言</h4>
                            <a href="message.html">查看所有</a>
                        </div>

                        <!--消息一-->
                        <div class="messages">
                            @foreach (var logL in Model.noticeLiuYans)
                            {
                                <a href=@("/Account/Message?NoticeUID="+logL.Id) class="message recent">
                                    <div class="message__actions_avatar">
                                        <div class="avatar">
                                            <img src=@logL.BasicUserInfo.HeadImg alt="">
                                        </div>
                                    </div>

                                    <div class="message_data">
                                        <div class="name_time">
                                            <div class="name">
                                                <p>@logL.BasicUserInfo.UserName</p>
                                                <span class="lnr lnr-envelope"></span>
                                            </div>

                                            <span class="time">@logL.Time</span>
                                            <p>@logL.Content</p>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--用户信息-->
        <div class="author-author__info inline has_dropdown">
            <!--头像-->
            <div class="author__avatar">
                <img height="60" width="60" src=@Model.BasicUserInfo.HeadImg alt="user avatar">
            </div>

            <!--昵称-->
            <div class="autor__info">
                <p class="name">
                    @Model.BasicUserInfo.RealName
                </p>
                <!--金额-->
                <p class="ammount"></p>
            </div>

            <!--个人页扩展-->
            <div class="dropdowns dropdown--author">
                <ul>
                    <!--个人信息-->
                    <li>
                        <a href=@("/Account/ChangeUserInfo")>
                            <span class="fa fa-user"></span>个人信息
                        </a>
                    </li>
                    <li>
                        <a href=@("/Account/AccountInfo?UserID="+Model.BasicUserInfo.UserID)>
                            <span class="fa fa-home"></span> 个人主页
                        </a>
                    </li>
                    <li>
                        <a href=@("/Treasure/AccountFavorite?UserID="+Model.BasicUserInfo.UserID)>
                            <span class="fa fa-heart"></span> 收藏
                        </a>
                    </li>
                    <li>
                        <a href="/Account/AllDealLog">
                            <span class="fa fa-handshake-o"></span>我的交易
                        </a>
                    </li>
                    <li>
                        <a href="/Treasure/MyList">
                            <span class="fa fa-cubes"></span>我的物品
                        </a>
                    </li>
                    <li>
                        <a href="/IAccount/SignOut">
                            <span class="fa fa-sign-out"></span>退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
