@using Ewu.WebUI.Models.ViewModel;
@model CreateModel

@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

<!--用户个人信息-->
@section UserInfo{
    @Html.Partial("PartialLayout/NoUserInfo")
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li class="active">
                                <a href="#">注册</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Sign up</h1>
                </div>
            </div>
        </div>
    </section>
}

<!--注册页面-->
@section signuporlogin{
    <section class="signup_area section--padding2">
        <div class="container">
            @using (Html.BeginForm("Create", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <!--1.输入用户信息-->
                    <div id="UserInfo" class="col-lg-6">
                        <div class="cardify signup_form">
                            <!--标题-->
                            <div class="login--header">
                                <h3>一、绑定手机号码与电子邮箱</h3>
                                <p>
                                    请在下方验证要绑定的手机号码与电子邮箱
                                </p>
                            </div>
                            <div class="login--form">
                                <div class="form-group">
                                    <span class="lnr lnr-phone-handset"></span>
                                    <label for="phonenum">
                                        联系方式<sup>*</sup>
                                    </label>
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "请输入手机号码", @type = "number" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            @Html.TextBoxFor(x => x.PhoCAPTCHA, new { @class = "text_field", @placeholder = "请输入收到的验证码" })
                                        </div>
                                        <div class="col-6">
                                            <input type="submit" id="setPhoCode" disabled="disabled" value="发送验证码" class="btn btn--fullwidth btn-warning" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" id="validPho" value="验证" class="btn btn--fullwidth btn-primary" />
                                </div>
                                <div class="form-group">
                                    <span class="lnr lnr-envelope"></span>
                                    <label for="phonenum">电子邮箱<sup>*</sup></label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "请输入电子邮件" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            @Html.TextBoxFor(x => x.EmailCAPTCHA, new { @class = "text_field", @placeholder = "请输入收到的验证码" })
                                        </div>
                                        <div class="col-6">
                                            <input type="submit" id="setEmailCode" disabled="disabled" value="发送验证码" class="btn btn--fullwidth btn-warning" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="button" id="validEmail" value="验证" class="btn btn--fullwidth btn-primary" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cardify signup_form">
                            <!--标题-->
                            <div class="login--header">
                                <h3>二、创建你的帐号信息及身份验证</h3>
                                <p>
                                    请在下面的表格中填写相应的帐号信息
                                </p>
                            </div>
                            <div class="login--form">
                                <div class="form-group">
                                    <span class="lnr lnr-user"></span>
                                    <label for="urname">用户名<sup>*</sup></label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "请输入你的昵称，用于在社交上显示" })
                                    <span id="NameIsExistValid" class="text-danger pull-right">请输入用户名</span>
                                </div>
                                <div class="form-group">
                                    <span class="lnr lnr-lock"></span>
                                    <label for="urpassword">登录密码<sup>*</sup></label>
                                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "请输入你的密码" })
                                    <span id="PassWdIsExistValid" class="text-danger pull-right">请输入密码</span>
                                </div>
                                <div class="form-group">
                                    <span class="lnr lnr-lock"></span>
                                    <label for="urname">确认密码<sup>*</sup></label>
                                    @Html.PasswordFor(x => x.ConfirmedPassWd, new { @class = "form-control", @placeholder = "请再输入一次密码" })
                                    <span id="RepeatPassWd" class="text-danger pull-right">请再次输入密码</span>
                                </div>
                                <div class="form-group">
                                    @Html.ValidationSummary(false)
                                </div>
                                @*图像上传*@
                                <div class="form-group">
                                    <span class="lnr lnr-license"></span>
                                    <label for="idCard">身份证正面照<sup>*</sup><span>（仅支持大小2MB以内的JPG和PNG图片）</span></label>
                                    <div style="position:relative;">
                                        <a class="lnr lnr-upload" href="javascript:;">
                                            点击上传
                                            <input id="IdCard" type="file" name="idcardImg" size="40"
                                                   style="position:absolute; z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent; color:transparent;" />
                                        </a>
                                        <span id="validIdCardImg" class="text-danger pull-right">请上传文件</span>
                                        <div class="form-group">
                                            <span class="label label-success" id="upload-file-info"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="Create" type="submit" value="Create" class="btn btn--fullwidth btn-danger" disabled="disabled" />
                                </div>
                                <div class="login_assist">
                                    <p>
                                        已有账号？
                                        @Html.ActionLink("登录", "Login", "IAccount")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
}



