@using Ewu.WebUI.Models.ViewModel
@model CreateModel


@{
    ViewBag.Title = "注册身份验证";
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
}

<!--用户个人信息-->
@section UserInfo{
    @Html.Partial("PartialLayout/NoUserInfo")
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li class="active">
                                <a href="#">注册</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Sign up</h1>
                </div>
            </div>
        </div>
    </section>
}


<!--注册页面-->
@section signuporlogin{
    <section class="signup_area section--padding2">
        <div class="container">
            @using (Html.BeginForm("Create", "Register", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="cardify signup_form">
                            <!--标题-->
                            <div class="login--header">
                                <h2>@Model.OCRresult</h2>
                                @if (Model.OCRresult == "注册成功")
                                {
                                    <p>
                                        恭喜您，加入了这个大家庭~
                                        @Html.ActionLink("去随便看看", "Index", "Treasure", null, new { @class = "lable label-primary" })
                                        @Html.ActionLink("完善个人信息", "ChangeUserInfo", "Account", null, new { @class = "lable label-primary" })

                                    </p>
                                }
                                else
                                {
                                    <p>请在下方重新上传您的身份证正面照</p>
                                }
                            </div>
                            @if (Model.OCRresult != "注册成功")
                            {
                                <div class="login--form">
                                    @*图像上传*@
                                    <div class="form-group">
                                        <span class="lnr lnr-license"></span>
                                        <label for="idCard">身份证正面照（仅支持大小2MB以内的JPG和PNG图片）</label>
                                        <div style="position:relative;">
                                            <a class="lnr lnr-upload" href="javascript:;">
                                                点击上传
                                                <input id="IdCard" type="file" name="idcardImg" size="40"
                                                       style="position:absolute; z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent; color:transparent;" />
                                            </a>
                                            <span id="validIdCardImg" class="text-danger pull-right">请上传文件</span>
                                            <div class="form-group">
                                                <span class="label label-success" id="upload-file-info"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input id="CreateAgain" type="submit" value="Create" class="btn btn--fullwidth btn-danger" />
                                    </div>
                                    @*原来的信息*@
                                    <div class="form-group">
                                        @Html.TextBoxFor(x => x.PhoneNumber, new { @hidden = "hidden" })
                                        @Html.TextBoxFor(x => x.PhoCAPTCHA, new { @hidden = "hidden" })
                                        @Html.TextBoxFor(x => x.Email, new { @hidden = "hidden" })
                                        @Html.TextBoxFor(x => x.EmailCAPTCHA, new { @hidden = "hidden" })
                                        @Html.TextBoxFor(x => x.Name, new { @hidden = "hidden" })
                                        @Html.TextBoxFor(x => x.Password, new { @hidden = "hidden" })
                                        @Html.TextBoxFor(x => x.ConfirmedPassWd, new { @hidden = "hidden" })
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}


