@model Ewu.WebUI.Models.ViewModel.TreaInfo

@{
    ViewBag.Title = "TreasureInfo";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">主页</a>
                            </li>
                            <li>
                                <a href="dashboard.html">物品列表</a>
                            </li>
                            <li class="active">
                                <a href="#">物品详情</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title"></h1>
                    <h1 class="page-title">@Model.treasureInfo.TreasureName</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="single-product-desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="item-preview item-preview2">
                    <div class="prev-slide">
                        <div class="content">
                            <div class="a-content">
                                <div class="carousel-content">
                                    <ul class="carousel">
                                        @foreach (var img in Model.DetailImgs)
                                        {
                                            <li><img src=@img></li>
                                        }
                                    </ul>
                                    <ul class="img-index"></ul>
                                    <div class="carousel-prev"><img src="~/images/test/left1.png"></div>
                                    <div class="carousel-next"><img src="~/images/test/right1.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item__preview-thumb">
                        <div class="item-action">
                            <div class="action-btns">
                                @if (Model.HolderInfo.Id != Model.LoginUserInfo.Id)
                                {
                                    <text>
                                        <a href=@("/Deal/CreateDeal?TreasureUID="+Model.treasureInfo.TreasureUID) class="btn btn--round btn--lg btn--icon">
                                            <span class="fa fa-hand-paper"></span>发起交易
                                        </a>
                                    </text>
                                }
                                <!--判断收藏-->
                            <a href="javascript:void(0);" class="btn btn--round btn--lg btn--icon" onclick=@("AddFavorite('"+Model.treasureInfo.TreasureUID.ToString()+"')")>
                                @if (Model.IsFavorite)
                                {
                                    <!--取消收藏-->
                                    <span id=@("Favorite_"+Model.treasureInfo.TreasureUID.ToString()) class="fa fa-heart">取消收藏</span>
                                }
                                else
                                {
                                    <!--添加收藏-->
                                    <span id=@("Favorite_"+Model.treasureInfo.TreasureUID.ToString()) class="fa fa-heart-o">添加收藏</span>
                                }
                            </a>
                            </div>
                        </div>

                        <div class="thread thread_review">
                            <ul class="media-list thread-list">
                                <li class="single-thread">
                                    <!--备注信息-->
                                    <div class="media">
                                        <div class="media-left">
                                            <a href=@("/Account/AccountInfo?UserID="+Model.HolderInfo.Id)>
                                                <img class="media-object" width="70" height="70" src=@Model.HolderInfo.HeadPortrait alt="Commentator Avatar">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <div class="media-heading">
                                                        <a href="author.html">
                                                            <h4 class="font-weight-bold">@Model.HolderInfo.UserName</h4>
                                                        </a>
                                                    </div>
                                                    <div class="rating product--rating">
                                                        <ul>
                                                            <li>
                                                                <a href="#" class="btn btn--round btn--bordered btn-success btn--icon">
                                                                    <span class="fa fa-thumbs-up" style="font-size:large"></span>8个推荐
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="btn btn--round btn--bordered btn-danger btn--icon">
                                                                    <span class="fa fa-thumbs-down" style="font-size:large"></span>2个不推荐
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-black-50">
                                                <i class="font-weight-bold">备注</i>
                                                @(Model.treasureInfo.Remarks ?? "他什么也没留下")
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <!--具体信息-->
                    <div class="item-info">
                        <!--标签-->
                        <div class="item-navigation">
                            <ul class="nav nav-tabs">
                                <li class="col-4 text-center">
                                    <a href="#product-details" class="active" aria-controls="product-details" role="tab" data-toggle="tab">物品信息</a>
                                </li>
                                <li class="col-4 text-center">
                                    <a href="#product-log" aria-controls="product-comment" role="tab" data-toggle="tab">Ta也看过</a>
                                </li>
                                <li class="col-4 text-center">
                                    <a href="#product-comment" aria-controls="product-details" role="tab" data-toggle="tab">@("向" + (Model.HolderInfo.Gender == "男" ? "他" : "她") + "咨询")</a>
                                </li>
                            </ul>
                        </div>
                        <!--标签内容-->
                        <div class="tab-content">
                            <!--详情信息-->
                            <div class="fade show tab-pane product-tab active" id="product-details">
                                <div class="tab-content-wrapper">
                                    <h1>@Model.treasureInfo.TreasureName</h1>
                                    <p>@Model.treasureInfo.DetailContent</p>
                                </div>
                            </div>
                            <!--记录-->
                            <div class="fade tab-pane product-tab" id="product-log">
                                <div class="thread">
                                    <ul class="media-list thread-list">
                                        <li class="single-thread">
                                            <div class="row">
                                                @foreach (var log in Model.browseLogs)
                                                {
                                                    <div class="col-6">
                                                        <div class="media">
                                                            <!--头像-->
                                                            <div class="media-left">
                                                                <a href=@("/Account/AccountInfo?UserID="+log.Browser.UserID)>
                                                                    <img width="70" height="70" class="media-object" src=@log.Browser.HeadImg alt="Commentator Avatar">
                                                                </a>
                                                            </div>
                                                            <!--内容-->
                                                            <div class="media-body">
                                                                <div>
                                                                    <div class="media-heading">
                                                                        <a href="author.html">
                                                                            <h4>@log.Browser.UserName</h4>
                                                                        </a>
                                                                        <span>@log.BrowserTime</span>
                                                                    </div>
                                                                    <!--标签-->
                                                                    @if (log.Browser.Gender == "男")
                                                                    {
                                                                        <span class="comment-tag buyer fa fa-mars"></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="comment-tag buyer fa fa-venus"></span>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <!--评论-->
                            <div class="fade tab-pane product-tab" id="product-comment">
                                <div class="comment-form-area">
                                    <div class="media comment-form">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" width="70" height="70" src=@Model.CurrenUser.HeadImg alt="Commentator Avatar">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <textarea id="comment" name="reply-comment" placeholder="填写你的留言信息..."></textarea>
                                            <!--动作-->
                                            <button class="btn btn--sm btn--round btn--icon  pull-right" onclick=@("Comment('" + Model.HolderInfo.Id + "')")>
                                                <span id="Icon" class="fa fa-paper-plane-o" style="font-size:large"></span>
                                                @Html.HiddenFor(t => t.treasureInfo.TreasureUID)
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--所有者信息-->
            <div class="col-lg-4">
                <aside class="sidebar sidebar--single-product">
                    <!--物品信息-->
                    <div class="sidebar-card card--product-infos">
                        <div class="card-title">
                            <h4>物品信息</h4>
                        </div>
                        <!--具体信息-->
                        <ul class="infos">
                            <li>
                                <p class="data-label font-weight-bold">物品全称</p>
                                <p class="info">@Model.treasureInfo.TreasureName</p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">物品类型</p>
                                <p class="info">
                                    <a href="#">@Model.treasureInfo.TreasureType</a>
                                </p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">物品成色</p>
                                <p class="info">@Model.treasureInfo.DamageDegree</p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">所在地区</p>
                                <p class="info">@(Model.treasureInfo.LocationProvince+" "+Model.treasureInfo.LocationCity+" "+Model.treasureInfo.LocationDistrict)</p>  
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">交易范围</p>
                                <p class="info">@Model.treasureInfo.TradeRange</p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">收藏数</p>
                                <p class="info">@Model.treasureInfo.Favorite</p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">浏览量</p>
                                <p class="info">@Model.treasureInfo.BrowseNum</p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">上传时间</p>
                                <p class="info">
                                    <button class="btn btn--bordered btn-secondary">@Model.treasureInfo.UploadTime.ToString("yyyy年MM月dd日 HH:mm:ss")</button>
                                </p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">信息更新时间</p>
                                <p class="info">
                                    <button class="btn btn--bordered btn-secondary">@Model.treasureInfo.UpdateTime.ToString("yyyy年MM月dd日 HH:mm:ss")</button>
                                </p>
                            </li>
                            <li>
                                <p class="data-label font-weight-bold">编辑次数</p>
                                <p class="info">@Model.treasureInfo.EditCount</p>
                            </li>
                        </ul>
                    </div>

                    <!--所有者信息-->
                    <div class="author-card sidebar-card ">
                        <div class="card-title">
                            <h4 class="text-center">所有者个人信息</h4>
                        </div>
                        <!--头像-->
                        <div class="author-infos">
                            <div class="author_avatar">
                                <img width="100" height="100" src=@Model.HolderInfo.HeadPortrait alt="Presenting the broken author avatar :D">
                            </div>
                            <!--名称-->
                            <div class="author">
                                <h4>@Model.HolderInfo.UserName</h4>
                                <!--个人签名-->
                                <p>@(Model.HolderInfo.Signature ?? "")</p>
                            </div>
                           
                            <!--社交信息-->
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href="#" class="btn btn--sm btn--color1 btn--icon">
                                            @if (Model.HolderInfo.Gender.IndexOf("男") >= 0)
                                            {
                                                <span class="fa fa-mars"></span><text>男</text>
                                            }
                                            else if (Model.HolderInfo.Gender.IndexOf("女") >= 0)
                                            {
                                                <span class="fa fa-venus"></span><text>女</text>
                                            }
                                            else
                                            {
                                                <span class="fa fa-genderless"></span><text>未知</text>
                                            }
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn--sm btn--color2 btn--icon">
                                            <span class="fa fa-birthday-cake"></span>@Model.HolderInfo.BirthDay.ToString("yyyy年MM月")
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn--sm btn--color3 btn--icon">
                                            <span class="fa fa-qq"></span>@(Model.HolderInfo.OICQ ?? "未知")
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn--sm btn--color4 btn--icon">
                                            <span class="fa fa-wechat"></span>@(Model.HolderInfo.WeChat ?? "未知")
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn--sm btn--color5 btn--icon">
                                            <span class="fa fa-briefcase"></span>@(Model.HolderInfo.Job ?? "未知")
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>