@using Ewu.Domain.Entities
@model Treasure

@{
    ViewBag.Title = "UploadItem";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="dashboard.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <a href="#">Upload Item</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Upload Item</h1>
                </div>
            </div>
        </div>
    </section>    
}

<section class="dashboard-area">

    <div class="dashboard_contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard_title_area">
                        <div class="pull-left">
                            <div class="dashboard__title">
                                <h3>上传你的闲物</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!--录入信息-->
                <div class="col-lg-8 col-md-7">
                    @using (Html.BeginForm("UploadItem", "Treasure", FormMethod.Post, new { enctype = "multipart/form-data", id = "dropzoneForm" }))
                    {
                        <!--物品名称-->
                        <div class="upload_modules">
                            <div class="modules__title">
                                <h3>物品名称 & 详细信息</h3>
                            </div>

                            <div class="modules__content">
                                <div class="form-group">
                                    <label for="category">选择闲物的类型</label>
                                    <div class="select-wrap select-wrap2">
                                        @Html.DropDownListFor(t => t.TreasureType, ViewData["Types"] as IEnumerable<SelectListItem>, new { @class = "text_field" })
                                        <span class="lnr lnr-chevron-down"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="product_name">
                                        闲物名称
                                        <span>(Max 100 characters)</span>
                                    </label>
                                    @Html.TextBoxFor(t => t.TreasureName, new { @class = "text_field", @placeholder = "请填写物品名称" })
                                </div>

                                <div class="form-group">
                                    <p class="label">详细信息</p>
                                    @Html.TextAreaFor(t => t.DetailContent, new { @class = "text_field", @placeholder = "描述一下你的物品吧" })
                                </div>

                                <div class="form-group no-margin">
                                    <p class="label">所在地区</p>
                                    <div class="city-picker-selector" id="city-picker-search">
                                        <div class="selector-item storey province">
                                            <a href="javascript:;" class="selector-name reveal df-color ">请选择省份</a>
                                            <input type="hidden" name="userProvinceId" class="input-price val-error" value="" data-required="userProvinceId">
                                            <div class="selector-list listing hide">
                                                <div class="selector-search">
                                                    <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                                </div>
                                                <ul>
                                                    <li>北京市</li>
                                                    <li>天津市</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="selector-item storey city">
                                            <a href="javascript:;" class="selector-name reveal df-color forbid">请选择城市</a>
                                            <input type="hidden" name="userCityId" class="input-price val-error" value="" data-required="userCityId">
                                            <div class="selector-list listing hide">
                                                <div class="selector-search">
                                                    <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                                </div>
                                                <ul></ul>
                                            </div>
                                        </div>
                                        <div class="selector-item storey district">
                                            <a href="javascript:;" class="selector-name reveal df-color forbid">请选择区县</a>
                                            <input type="hidden" name="userDistrictId" class="input-price val-error" value="" data-required="userDistrictId">
                                            <div class="selector-list listing hide">
                                                <div class="selector-search">
                                                    <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                                </div>
                                                <ul></ul>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.HiddenFor(t => t.Location)
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>交易范围</label>
                                            @Html.DropDownListFor(t => t.TradeRange, ViewData["TradeRanges"] as IEnumerable<SelectListItem>, new { multiple = true, @class = "text_field" })
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label>物品成色</label>
                                            @Html.DropDownListFor(t=>t.DamageDegree,ViewData["DamageDegrees"] as IEnumerable<SelectListItem>, new { multiple = true, @class = "text_field" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>备注</label>
                                    @Html.TextAreaFor(t => t.Remarks, new { @class = "text_field", @placeholder = "添加一些备注信息" })
                                </div>
                                <div class="form-group">
                                    <input id="SubmitForm" type="submit" class="btn btn-success btn--fullwidth" value="确定" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!--右侧帮助页面-->
                <div class="col-lg-4 col-md-5">
                    <aside class="sidebar upload_sidebar">
                        <div class="sidebar-card">
                            <div class="card-title">
                                <h3>Quick Upload Rules</h3>
                            </div>

                            <div class="card_content">
                                <div class="card_info">
                                    <h4>Image Upload</h4>
                                    <p>
                                        Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris
                                        que the mattis interdum.
                                    </p>
                                </div>

                                <div class="card_info">
                                    <h4>File Upload</h4>
                                    <p>
                                        Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris
                                        que the mattis interdum.
                                    </p>
                                </div>

                                <div class="card_info">
                                    <h4>Vector Upload</h4>
                                    <p>
                                        Nunc placerat mi id nisi interdum mollis. Praesent there pharetra, justo ut sceleris
                                        que the mattis interdum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>

            <div class="row">
                
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard_title_area">
                        <div class="pull-left">
                            <div class="dashboard__title">
                                <h3>上传图片</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="dashboard_title_area">
                        <label>封面</label>
                        <div class="form-group no-margin">
                            <form action="~/UpLoadImg/Cover" class="dropzone needsclick dz-clickable" enctype="multipart/form-data" id="CoverDropzone" method="post">
                                @Html.Hidden("TreasureUID", Model.TreasureUID)
                                @Html.Hidden("UserUID", Model.HolderID)
                            </form>
                        </div>
                        <div class="form-group no-margin">
                            <button type="submit" class="btn btn-danger" id="CoverBtn" disabled="disabled">上传</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dashboard_title_area">
                        <label>细节图</label>
                        <form action="~/UpLoadImg/DetailImg" class="dropzone" enctype="multipart/form-data" id="DetailImgDropzone" method="post">
                            @Html.Hidden("TreasureUID", Model.TreasureUID)
                            @Html.Hidden("UserUID", Model.HolderID)
                        </form>
                        <div>
                            <button type="submit" class="btn btn-danger" id="DetailImgBtn" disabled="disabled">上传</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

