@model Ewu.Domain.Entities.Treasure

@{
    ViewBag.Title = "Edit" + @Model.TreasureName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.TreasureName</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="panel-body">
        @*物品UID*@
        @Html.HiddenFor(m => m.TreasureUID)
        @*遍历所有的属性*@
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "TreasureUID":
                case "ImageData":
                case "ImageMimeType":
                break;
                default:
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "DetailContent")
                        {
                            @Html.TextArea(
                                name:property.PropertyName,
                                value:null,
                                htmlAttributes: new
                                {
                                    @class = "form-control",
                                    rows=5
                                }
                            )
                        }
                        else
                        {
                            @Html.TextBox(
                                name:property.PropertyName,
                                value:null,
                                htmlAttributes: new
                                {
                                    @class = "form-control"
                                }
                            )
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                break;
            }
        }
        <div class="form-group">
            <div style="position:relative;">
                <label>Image</label>
                <a class="btn" href="javascript:;">
                    Choose File...
                    <input type="file" name="Image" size="40" 
                           style="position:absolute; z-index:2;top:0;
                                  left:0;filter: alpha(opacity=0); opacity:0;
                                  background-color:transparent; color:transparent;"
                           onchange='$("#upload-file-info").html($(this).val());' />
                </a>
                <span class="label label-info" id="upload-file-info"></span>
            </div>
            @if (Model.ImageData == null)
            {
                <div class="form-control-static">No Image</div>
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Treasure", new { Model.TreasureUID })" />
            }
        </div>
    </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink(
                linkText:"Cancel and return to List",
                actionName:"Index",
                routeValues:null,
                htmlAttributes: new
                {
                    @class = "btn btn-default"
                }
            )
        </div>
    }
</div>

@*<h1>Edit @Model.TreasureName</h1>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}*@

