@model Ewu.WebUI.Models.FavoriteIndexViewModel

@{
    ViewBag.Title = "Ewu: Your Favorite";
}

<style>
    #favoriteTable td {
        vertical-align:middle;
    }
</style>

<h2>Your Favorite</h2>
<table id="favoriteTable" class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">BrowseNum</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @*遍历收藏列表*@
        @foreach(var line in Model.Favorite.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Treasure.TreasureName</td>
                <td class="text-right">@line.Treasure.BrowseNum</td>
                <td class="text-right">
                    @((line.Quantity * line.Treasure.BrowseNum))
                </td>
                <td>
                    @*移除收藏的按钮*@
                    @using (Html.BeginForm(
                            actionName: "RemoveFromFavorite",
                            controllerName: "Favorite"
                        ))
                    {
                        @Html.Hidden("TreasureUID", line.Treasure.TreasureUID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @*总计的价格*@
                @Model.Favorite.ComputeTotalValue()
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    @*返回物品列表*@
    <a class="btn btn-primary" href="@Model.ReturnUrl">Return</a>
    @*添加结算按钮*@
    @Html.ActionLink(
        linkText: "Checkout Now",
        actionName: "Checkout",
        routeValues: null,
        htmlAttributes: new
        {
            @class = "btn btn-primary"
        }
    )
</div>
