@using Ewu.WebUI.Models.ViewModel
@model MyDeliveryAddress

@{
    ViewBag.Title = "ChooseDeliveryAddress";
    Layout = "~/Views/Shared/_AddressLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="index.html">首页</a>
                            </li>
                            <li>
                                <a href="#">个人</a>
                            </li>
                            <li>
                                <a href="#">交易信息</a>
                            </li>
                            <li class="active">
                                <a href="#">收货地址管理</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">LogDeal</h1>
                </div>
            </div>
        </div>
    </section>
}


<section class="faq_area section--padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <aside class="sidebar faq--sidebar">
                    <!--增加收货地址-->
                    <div class="sidebar-card faq--card">
                        <div class="faq-title">
                            <span class="lnr lnr-file-add"></span>
                            <h4>增加收货地址</h4>
                        </div>
                        <div class="modules__content">
                            <div class="collapsible-content">
                                @using (Html.BeginForm("AddDeliveryAddress", "Deal")) 
                                {
                                    <div class="form-group">

                                    </div>
                                    <div class="form-group">
                                        <div class="city-picker-selector" id="city-picker-search">
                                            <div class="selector-item storey province">
                                                <a href="javascript:;" class="selector-name reveal df-color ">请选择省份</a>
                                                <input type="hidden" name="userProvinceId" class="input-price val-error" value="" data-required="userProvinceId">
                                                <div class="selector-list listing hide">
                                                    <div class="selector-search">
                                                        <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                                    </div>
                                                    <ul>
                                                        <li>北京市</li>
                                                        <li>天津市</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="selector-item storey city">
                                                <a href="javascript:;" class="selector-name reveal df-color forbid">请选择城市</a>
                                                <input type="hidden" name="userCityId" class="input-price val-error" value="" data-required="userCityId">
                                                <div class="selector-list listing hide">
                                                    <div class="selector-search">
                                                        <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                                    </div>
                                                    <ul></ul>
                                                </div>
                                            </div>
                                            <div class="selector-item storey district">
                                                <a href="javascript:;" class="selector-name reveal df-color forbid">请选择区县</a>
                                                <input type="hidden" name="userDistrictId" class="input-price val-error" value="" data-required="userDistrictId">
                                                <div class="selector-list listing hide">
                                                    <div class="selector-search">
                                                        <input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
                                                    </div>
                                                    <ul></ul>
                                                </div>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(t => t.NewdeliveryAddress.LocationProvince)
                                        @Html.HiddenFor(t => t.NewdeliveryAddress.LocationCity)
                                        @Html.HiddenFor(t => t.NewdeliveryAddress.LocationDistrict)
                                        @Html.HiddenFor(t => t.CurrentRole)
                                        @Html.HiddenFor(t => t.CurrentLogDeal.DLogUID)


                                        @Html.Hidden("NowProvince", "请你选择省份")
                                        @Html.Hidden("NowCity", "请你选择城市")
                                        @Html.Hidden("NowDistrict", "请你选择地区")
                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(t => t.NewdeliveryAddress.MoreLocation, new { placeholder = "请填写详细地址信息" })
                                    </div>
                                    <div class="form-group">
                                        <input id="AddDeliveryAddress" type="button" class="btn btn--round btn--sm btn--faq btn--fullwidth btn-success" value="添加收货地址" />
                                        <input id="SubmitForm" type="submit" hidden="hidden"/>
                                    </div>
                                }
                            </div>
                        </div>
                        
                    </div>

                    <!--我的收货地址-->
                    <div class="sidebar-card faq--sidebar">
                        @Html.Action("DeliveryAddressList", "Deal")
                    </div>
                </aside>
            </div>
            <div class="col-lg-4">
                <!--帮助-->
                <aside class="sidebar faq--sidebar">
                    <div class="sidebar-card faq--card">
                        <div class="faq-title">
                            <span class="lnr lnr-file-add"></span>
                            <h4>帮助</h4>
                        </div>
                        <div class="collapsible-content">
                            <ul class="card-content">
                                <li>
                                    <a href="#">
                                        <span></span>如何修改收货人?
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span></span>帮助二
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span></span>帮助三
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span></span>帮助四
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="btn btn--round btn--sm btn--faq">View All</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

