@using Ewu.WebUI.Models.ViewModel
@model Score

@{
    ViewBag.Title = "Signing";
    Layout = "~/Views/Shared/_ScoreLayout.cshtml";
}

<!--导航-->
@section Nav{
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/Treasure/Index">首页</a>
                            </li>
                            <li>
                                <a href="/Account/AccountInfo">个人</a>
                            </li>
                            <li>
                                <a href="/Treasure/DealingLog">正在进行的交易</a>
                            </li>
                            <li class="active">
                                <a href="#">确认收货及评价</a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">@Model.CurTreasure.TreasureName</h1>
                </div>
            </div>
        </div>
    </section>
}

<section class="dashboard-area">
    <div class="dashboard_contents">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard_title_area">
                        <div class="dashboard__title">
                            <h3>物品信息及评价</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="credit_modules">
                        <div class="row">
                            <div class="col-12">
                                <div class="product product--card">
                                    <div class="product__thumbnail">
                                        <img width="350" height="480" src=@Model.CurTreasure.Cover alt="Product Image">
                                    </div>

                                    <div class="product-desc">
                                        <a href=@Model.CurTreasure.Link class="product_title">
                                            <h4>@Model.CurTreasure.TreasureName</h4>
                                        </a>
                                        <ul class="titlebtm">
                                            <li>
                                                <img class="auth-img" src=@Model.SideUser.HeadImg alt="author image">
                                                <p>
                                                    <a href="#">@Model.SideUser.RealName</a>
                                                </p>
                                            </li>
                                            <li class="product_cat">
                                                <a href="#">
                                                    <span class="lnr lnr-book"></span>@Model.CurTreasure.TreasureType
                                                </a>
                                            </li>
                                        </ul>
                                        <p>
                                            @Model.CurTreasure.DetailContent
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="credit_modules">
                        @using (Html.BeginForm())
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="modules__title">
                                        <h3>评价对方 &amp; 确认收货</h3>
                                    </div>
                                    <div class="modules__content">
                                        <p class="subtitle">给对方一个“推荐”或者“不推荐”</p>
                                        <div class="row">
                                            <div class="col-1"></div>
                                            <div class="col-4">
                                                <div class="custom-radio custom_radio--big">
                                                    <input type="radio" id="Yes" class="" name="card" onclick="Score(this)">
                                                    <label for="Yes">
                                                        <span id="Up" class="fa fa-thumbs-o-up" style="font-size:190px"></span>
                                                        <span class="circle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-2">
                                                @Html.HiddenFor(s=>s.NowEvaluation.IsRecommend)
                                                @Html.HiddenFor(s=>s.LogDeal.DLogUID)
                                                <input id="IsChoose" type="hidden" value="">
                                            </div>
                                            <div class="col-4">
                                                <div class="custom-radio custom_radio--big">
                                                    <input type="radio" id="No" class="" name="card" onclick="Score(this)">
                                                    <label for="No">
                                                        <span id="Down" class="fa fa-thumbs-o-down" style="font-size:190px"></span>
                                                        <span class="circle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="payment_info modules__content">
                                        <div class="form-group">
                                            <p class="subtitle">具体评价</p>
                                            @Html.TextAreaFor(s => s.NowEvaluation.EvaluationInfo, new { placeholder = "对本次交易说点什么吧..." })
                                        </div>
                                        <div class="form-group">
                                            <input id="valid" type="button" onclick="Submit()" class="btn btn--round btn--default btn--fullwidth" value="提交" disabled="disabled" />
                                            <button id="score" hidden="hidden" type="submit" class="btn btn--round btn--default">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

