<!DOCTYPE html>

<html lang="zh-cn">

<head>
    @Html.Partial("cssJS/cssHead")
    <title>@ViewBag.Title</title>
</head>
<body class="preload home1 mutlti-vendor">
    <div class="menu-area">
        <!--顶部栏-->
        <div class="top-menu-area">
            <div class="container">
                <div class="row">
                    <!--Logo-->
                    <div class="col-lg-3 col-md-3 col-6 v_middle">
                        <div class="logo">
                            <a href="/Treasure/Index">
                                <img src="~/images/logo.png" alt="logo image" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <!--用户个人信息-->
                    @Html.Action("UserInfo", "Account");
                </div>
            </div>
        </div>

        <div class="mainmenu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">

                        </div>

                        <nav class="navbar navbar-expand-md navbar-light mainmenu__menu">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="has_dropdown">
                                        <a href="/Treasure/Index">主页</a>
                                    </li>
                                    <li class="has_dropdown">
                                        <a href="/Account/AccountInfo?UserID=''">个人</a>
                                    </li>
                                    <li class="has_dropdown">
                                        <a href="/Account/AllDealLog">交易</a>
                                        <div class="dropdowns dropdown--menu">
                                            <ul>
                                                <li>
                                                    <a href="/Account/RecipientDealLog">我收到的交易</a>
                                                </li>
                                                <li>
                                                    <a href="/Account/InitiateDealLog">我发起的交易</a>
                                                </li>
                                                <li>
                                                    <a href="/Account/CompleteDealLog">成功的交易</a>
                                                </li>
                                                <li>
                                                    <a href="/Account/DealingLog">进行中的交易</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has_dropdown">
                                        <a href="/Treasure/List">物品</a>
                                        <div class="dropdowns dropdown--menu">
                                            <ul>
                                                <li>
                                                    <a href="/Treasure/UploadItem">上传物品</a>
                                                </li>
                                                <li>
                                                    <a href="/Treasure/List">全部物品</a>
                                                </li>
                                                <li>
                                                    <a href="/Treasure/MyList">我的物品</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/IAccount/SignOut">退出</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--导航-->
    @RenderSection("Nav", false)


    @RenderBody()


    <!--页尾底栏-->
    @Html.Partial("PartialLayout/Footer")
    <!--JS-->
    @Html.Partial("cssJS/jsBody")
    <script src="~/Scripts/Index.js"></script>
</body>
</html>
