@model Ewu.Domain.Entities.Treasure
@*分部视图-用于显示物品*@

<div class="well">
    @*物品图片存在时*@
    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right:10px">
            <img class="img-thumbnail" width="75" height="75" src="@Url.Action("GetImage","Treasure",new { Model.TreasureUID })" />
        </div>
    }

    <h3>
        <strong>@Model.TreasureName</strong>
        <span class="pull-right label label-primary">@Model.DamageDegree</span>
    </h3>

    @*添加收藏按钮*@
    @using (Html.BeginForm(
            actionName: "AddToFavorite",
            controllerName: "Favorite"
        ))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.TreasureUID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to Favorite" />
        </div>
    }

    <span class="lead">@Model.TradeRange</span>
</div>

